.editColorsButton {
    background-color: Teal !important;
    border: 1px solid rgb(147, 191, 178, 0.15);
    font-size: 0.8rem !important;

}


.editColorsButton:hover {
    background-color: #fff;
    outline: none;
    border: 1px solid #333;
}

.backToDashboard {
    background-color: #333;
    color: #fff;
}