.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px !important;
    /* background-color: #f9fafe !important; */
    background-color: #fcfcfc !important;
    width:100%;
    max-width:100%;
  }
  
  .topBar h1 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #37352f;
  }
  
  .userControls {
    display: flex;
    gap: 16px;
  }
  
  .loginButton {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background-color: white;
    color: #37352f;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .loginButton:hover {
    background-color: #f7f6f3;
  }